
.dark-mode {
    background-color: #333;
    color: #fff;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.446);
  }
  
  .dark-mode .add-image input[type="file"] {
    border-color: #666;
  }
  
  .dark-mode .add-image button {
    background-color: #555;
    margin-top: 10px;
  }

  .dark-mode .add-image button:hover {
    background-color: #444;
  }

  .dark-mode .add-image input[type="file"]{
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
  }
  

  
  .dark-mode .image {
    border-color: #666;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.446);
  }
  
  .dark-mode .image img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

